<meta http-equiv="Content-Type" content="text/html; charset=utf-8; ">
body {
	FONT-SIZE: 10pt;
	margin:0px;
	SCROLLBAR-FACE-COLOR: #dddddd; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #fcfcfc; COLOR: #000000;
	SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: #666666;
 	text-align:center

}
image{
	border-color:#999999;
}
td {
	font-size: 10pt; line-height:144%;
}
a:hover {
	font-size: 10pt;	color: #FF6600;
}
a {
	font-size: 10pt;	text-decoration: none;	color: #4C94C1;
}
.a1{
	font-size: 10pt;	text-decoration: none;	color: #FFFFFF;
}
.btn_grey {
	font-size: 10pt;color: #333333;	
}

.container{
	width:960px;
	border:0;
	margin:0 auto; 
	padding-top: 5px;
}
.content{
	width:958px;
	border: #dddddd 1px solid;
	margin:5px 0;
}
.footbar{
	background:url(../Images/line.gif)repeat-x 0 0;
	height:5px;
	width:100%;
}
.header{
	padding-bottom: 2px;
}
.menuskin {
	BORDER: #666666 1px solid; VISIBILITY: hidden;
	POSITION: absolute; 
	/*BACKGROUND-COLOR:#EFEFEF;*/
	background-image:url("../Images/item_out.gif");
	background-repeat : repeat-y;
    Filter: Alpha(Opacity=85);
	}
.modify{
	width:283px;
	height:160px;
	background:url(../Images/subBG.jpg) repeat-x 0 0 ;
	margin: 5px;
	padding-top: 25px;
	padding-left:9px;
}
.position{
	width:958px;
    padding-left:10px;
    font-size: 9pt;
	color: red;
}
.wenbenkuang {
	font-family: "宋体";
	font-size: 10pt;
	color: #333333;
	border: 1px solid #999999;
}
.word_Green {
	font-size: 10pt;
	color: #1B4E51;
}
-->
.txt_grey {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	width:110;
}
input {
	font-family: "宋体";
	font-size: 10pt;
	color: #333333;
	border: 1px solid #999999;
}
.logininput{
	height:24px;
	border-color:#15595C;
	border-size:1px;}
.wenbenkuang {
	font-family: "宋体";
	font-size: 10pt;
	color: #333333;
	border: 1px solid #999999;
}
.search  { font-family: 宋体; font-size: 10pt; color: #000000; background-color: #EEEEEE; 
           border: 1px Hidden #000000; }
hr{
color:#9CA6C6;
}
.ToolTip {
	BORDER-RIGHT: #8492b9 1px solid; BORDER-TOP: #8492b9 1px solid;
	BORDER-LEFT: #8492b9 1px solid; COLOR: #333333; BORDER-BOTTOM: #8492b9 1px solid;
	BACKGROUND-COLOR: #f9f9f9
}
.noborder{
border-style:none;
}
.tableBorder {
	border: #1B4E51 1px solid
}
.tableBorder_B{
	border:1px solid #9CA6C6;
	border-left-style:none; 
	border-right-style:none;
	border-Top-style:none; 
}
.menuitems1{
	margin:2px;padding:1px;word-break:keep-all;background-image:url("../Images/item_out.gif");
}
div.quote{margin:5px 20px;border:1px solid #8492b9;padding:5px;background:#8492b9 ;line-height : normal ;
}
div.HtmlCode{margin:5px 20px;border:1px solid #AAAAAA;padding:5px; background:#FDFDDF ;
font-size:12px;font-family:Tahoma;font-style : oblique;line-height : normal ;font-weight:bold;
}
.menuskin {
	BORDER: #666666 1px solid; VISIBILITY: hidden;
	POSITION: absolute; 
	background-image:url(../Images/item_out.gif);
	background-repeat : repeat-y;
    Filter: Alpha(Opacity=85);
	}

-->